.qa-block {
    position: relative;
    width: 80%;
    margin: 0 auto 4%;
    padding: 0% 2rem 3rem;
    border-radius: 8px;
    background-color: #f8f8f8;
    border: 1px solid #dfe0e2;
    box-shadow: #dfe0e2 2px 2px 10px;
    color: rgb(68, 68, 68);

    .title {
        line-height: 3rem;
    }

    label {
        font-family: "Noto Sans TC", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.875rem;
        line-height: 200%;
    }

    .text-area {
        resize: none;
    }

    .source-url {
        margin: 1% 0 0;
    }

    .hint-wording {
        font-size: 0.875rem;
        font-weight: 500;
        margin-left: 1%;
    }

    .info-tooltip {
        margin-left: 0.8rem;
    }

    .downloadIcon {
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 0.5rem;
        color: #c7c7c7;
    }

    .operator {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0.6%;
        text-align: center;

        .icon {
            margin-bottom: 30%;
            cursor: pointer;
            color: #a7a8bf;
            font-size: 2.4vw;
            min-width: 1.2rem;

            &:hover {
                color: #53545c;
            }
        }
    }

    .icon-trash {
        position: absolute;
        top: 3%;
        right: 1%;
        font-size: 1rem;
        cursor: pointer;
        color: #53545c;

        &:hover {
            color: #a7a8bf;
        }
    }

    .file-info {
        margin: 0;
        padding: 0.5rem 0 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .upload-remove {
        position: absolute;
        top: 2%;
        right: 2%;
        font-size: 1rem;
        cursor: pointer;
    }
}

// textarea trash can
.text.qa-block {
    .body {
        position: relative;

        .qa-block-operator {
            position: absolute;
            top: 0;
            z-index: 999;
            width: 3%;
            right: -3.7%;
            text-align: center;

            .icon {
                margin-bottom: 30%;
                cursor: pointer;
                color: rgb(68, 68, 68);

                &:hover {
                    color: #a7a8bf;
                }
            }
        }

        .textarea-block {
            position: relative;
        }
    }
}
